body {
  position: relative;
  margin: 0;
  padding: 0;
}

body,
html{
    height: 100%;
    width: 100%;
   }

.fa {
	color: lightslategray;
}

.page-header {
	color: lightslategray;
}
.section-header {
	color: lightslategray;
}

.thumbcust {
  display: inline-block;
  padding: 5px;
  margin-bottom: 20px;
  line-height: 2;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

.navbar {
		text-decoration-color: lightslategray;
}

#map
{
    width: 100px;
    height:300px;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

.paper {
    padding-left: 1.5em;
    text-indent:-1.5em;
}
